diteils of profail

Hola soy {{username}} y tengo {{likesCounter}} likes

<a href="/profile/edit/{{id}}">EDITAR</a>



<form action="/messages/{{id}}/new-message" method="POST">
    <div class="mb-3">
        <h3>ENVIAR MENSAJE A {{username}}</h3>
    </div>
    <div class="mb-3">
        <label for="textContent" class="form-label">Mensajukiiiii</label>
        <textarea class="form-control" id="textContent" rows="3" name="textContent"></textarea>
    </div>


    {{#if errorMessage}}
    <div id="error">{{errorMessage}}</div>
    {{/if}}
    <button type="submit" class="btn btn-dark">Enviar mensaje</button>
</form>