{{#each messages}}

mensaje de {{origin.username}}
<hr>
el emsnaej es::
{{textContent}}

<form action="/messages/{{id}}/delete" method="POST">
    <button class="btn btn-outline-danger btn-md px-3" type="submit">

    </button>
</form>

<form action="/messages/{{origin.id}}/message-answer" method="POST">
    <div class="mb-3">
        <h3>CONTESTAR A {{origin.username}}</h3>
    </div>
    <div class="mb-3">
        <label for="textContent" class="form-label">Mensajukiiiii</label>
        <textarea class="form-control" id="textContent" rows="3" name="textContent"></textarea>
    </div>


    {{#if errorMessage}}
    <div id="error">{{errorMessage}}</div>
    {{/if}}
    <button type="submit" class="btn btn-dark">Enviar mensaje</button>
</form>

{{/each}}