<h3>inbox</h3>
{{#each messages}}
<p>
From:{{origin.username}}
</p>

<p>message:</p>
<div class="col-md-8">
<div class="container glass pt-3">
    <p>{{textContent}}</p>
</div>
<div class="container d-flex flex-row-reverse mb-0">
    <form action="/messages/{{id}}/delete" method="POST">
        <button class="btn red-btn btn-md px-3 py-0" type="submit">
            borrar
        </button>
    </form>
</div>
</div>


<div class="col-md-8">
<form action="/messages/{{origin.id}}/message-answer" method="POST">
    <div class="mb-3">
        <label for="textContent" class="form-label">reply:{{origin.username}}</label>
        <textarea class="form-control glass" id="textContent" rows="3" name="textContent" placeholder="type something..."></textarea>
    </div>


    {{#if errorMessage}}
    <div id="error">{{errorMessage}}</div>
    {{/if}}
    <div class="container d-flex flex-row-reverse mb-0">
        <button type="submit" class="btn green-btn btn-md px-3 py-0">send</button>
    </div>
    </div>
</form>

{{/each}}