<div class="mb-0">
    <div class="card-body">
        <div class="container mb-3">
            <div class="row">
                <div class="col-md-10">
                    <iframe width="900" height="315" src="{{movieInfo.linkEmbed}}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-md-2">
                    <p class="card-text">
                        <strong>Summary:</strong>
                        <br>
                        {{movieInfo.videoDescription}}
                        <br>
                    <div class="container d-flex flex-row justify-content-evenly">
                        {{!-- {{#if isNotSaved}} --}}
                        <form action="/movies/{{movieInfo.imDbId}}/save" method="POST">
                            <button class="btn green-btn btn-md my-0 py-0" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-bookmark-star" viewBox="0 0 16 16">
                                    <path
                                        d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z" />
                                    <path
                                        d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                </svg>
                            </button>
                        </form>
                        {{!-- {{/if}} --}}

                        {{!-- {{#if isSaved}} --}}
                        <form action="/movies/{{movieInfo.imDbId}}/unsave" method="POST">
                            <button class="btn red-btn btn-md my-0 py-0" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-bookmark-star" viewBox="0 0 16 16">
                                    <path
                                        d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z" />
                                    <path
                                        d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                </svg>
                            </button>
                        </form>
                        {{!-- {{/if}} --}}
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="card-title mb-3"><strong>{{movieInfo.title}}</strong></h5>
                    <p class="card-text"><small class="text-muted">Release year: <i>{{movieInfo.year}}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>


<form action="/posts/{{movieInfo.imDbId}}/new-post" method="POST">
    <div class="mb-3">
        <div class="mb-3">
            <label for="textContent" class="form-label"></label>
            <textarea class="form-control glass" id="textContent" rows="3" name="textContent"
                placeholder="Comment something or protect other users from spoilers"></textarea>
        </div>
        <input id="isShort" name="isShort" type="hidden" value="false">

        {{#if errorMessage}}
        <div id="error">{{errorMessage}}</div>
        {{/if}}
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <button type="submit" class="btn green-btn my-1">Send Post</button>
                </div>
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <select class="form-select btn green-btn my-1 px-1" id="type" name="type" aria-label="Default select example">
                        <option value="COMMENT" selected>Comment</option>
                        <option value="SPOILER">Spoiler</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                Comments
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <ul>{{#each comments}}
                    <li>USER: {{author.username}}

                        TEXTO: {{textContent}}

                        <form action="/valoration/movielike/{{author.id}}/{{./../movieInfo.imDbId}}" method="POST">
                            <button class="btn btn-outline-danger btn-md px-3" type="submit">
                                LIKE THIS COMMENT </button>
                        </form>

                        <form action="/posts/{{_id}}/delete/{{./../movieInfo.imDbId}}" method="POST">
                            <button class="btn btn-outline-danger btn-md px-3" type="submit">
                                DELETE </button>
                        </form>

                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                Spoilers
            </button>
        </h2>

        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <ul>{{#each spoilers}}
                    <li>USER: {{author.username}}
                        TEXTO: {{textContent}}</li>
                    <form action="/valoration/movielike/{{author.id}}/{{./../movieInfo.imDbId}}" method="POST">
                        <button class="btn btn-outline-danger btn-md px-3" type="submit">
                            LIKE THIS SPOILER </button>
                    </form>
                    <form action="/posts/{{_id}}/delete/{{./../movieInfo.imDbId}}" method="POST">
                        <button class="btn btn-outline-danger btn-md px-3" type="submit">
                            DELETE </button>
                    </form>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>