<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><strong>{{movieInfo.title}}</strong> from <i>{{movieInfo.year}}</h5>
        <p class="card-text">{{movieInfo.videoDescription}}</p>
        <iframe width="560" height="315" src="{{movieInfo.linkEmbed}}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>

{{#each comments}}

{{textContent}}

{{/each}}



<form action="/posts/{{movieInfo.imDbId}}/new-post" method="POST">
    <div class="mb-3">
        <h3>COMENTARIO</h3>
    </div>
    <div class="mb-3">
        <label for="textContent" class="form-label">Escribe aquí tu comentario</label>
        <textarea class="form-control" id="textContent" rows="3" name="textContent"></textarea>
    </div>
    <input id="isShort" name="isShort" type="hidden" value="false">
    <input id="type" name="type" type="hidden" value="COMMENT">

    {{#if errorMessage}}
    <div id="error">{{errorMessage}}</div>
    {{/if}}
    <button type="submit" class="btn btn-dark">Enviar Comentario</button>
</form>